{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended", "airbnb-typescript/base", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "@typescript-eslint/lines-between-class-members": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/indent": 0 // This rule is currently broken
    }
}
